.servers__container {
    margin-top: 32px;
    padding: 32px;
    width: 100%;
    background-color: var(--backgroundElementColor);
    border-radius: 8px;
}

@media (max-width: 500px) {
    .servers__container {
        margin: 32px 16px 0 16px;
        padding: 0;
        width: auto
    }
}