.ourTeam__container {
    margin-top: 32px;
    display: flex;
}

.ourTeam__container_content {
    background-color: var(--backgroundElementColor);
    border-radius: 8px;
    padding: 32px;
    align-items: center;
    width: 100%
}

.ourTeam__container_content p {
    font-size: 24px;
    color: var(--textColor)
}

.ourTeam__container_content span {
    margin-left: 6px;
    color: var(--anotherTextColor);
}

@media (max-width: 500px) {
    .ourTeam__container {
        margin: 32px 16px 0 16px;
        width: auto;
    }
    .ourTeam__container_content p {
        font-size: 18px;
        color: var(--textColor)
    }
    
    .ourTeam__container_content span {
        margin-left: 6px;
        color: var(--anotherTextColor);
    }
    .ourTeam__container_content {
        padding: 16px;
        width: 100%
    }
}