.StartPlaying__content {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 500px) {
    .StartPlaying__content {
        flex-direction: column;
        margin-top: 16px;
    }
}