.StartPlayingComponent {
    width: 405px;
    height: 305px;
    padding: 32px;
    background-color: var(--backgroundElementColor);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content {
    min-height: 125px !important;
}

.content h1 {
    color: var(--textColor)
}

.content p:nth-child(2) {
    color: var(--textColor);
    margin-top: 20px;
}

.content p:nth-child(3) {
    color: var(--anotherTextColor);
    margin-top: 10px;
}

.StartPlayingComponent button {
    padding: 12px 32px;
    background-color: var(--backgroundButton);
    color: var(--textColor);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: .5s all;
}

.StartPlayingComponent button:hover {
    background-color: #f12f80 !important;
    color: #fff !important;
}
