* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroundColor: #080908;
    --backgroundElementColor: #131313;
    --backgroundButton: #ED5D9A;
    --textColor: #FFFFFF;
    --anotherTextColor: #666767;
    --textSize: 16px;
    --subtitleSize: 32px;
    --titleSize: 26px;
    --mobileSize: 12px;
}

@font-face {
    font-family: 'minecraft-font';
    src: url('../assets/fonts/minecraft-rus-regular1.ttf') format('truetype');

  }

a {
    transition: .5s color;
}

a:hover {
    color: var(--backgroundButton)
}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

.Container {
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--backgroundColor);
}

.Content {
    flex: 1;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'minecraft-font';
    font-weight: normal;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #222
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4
}

.notfound .notfound-404 {
    height: 158px;
    line-height: 153px
}

.notfound .notfound-404 h1 {
    font-family: josefin sans, sans-serif;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0;
    font-weight: 700;
    text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9
}

.notfound .notfound-404 h1>span {
    text-shadow: 2px 2px 0 #EE5F98, -2px -2px 0 #f06ba0, 0 0 8px #ec4a8b
}

.notfound p {
    font-family: josefin sans, sans-serif;
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px
}

.notfound a {
    font-family: josefin sans, sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    color: #c9c9c9;
    border: 2px solid #c9c9c9;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    transition: .5s all;
}

.notfound a:hover {
    color: #EE5F98;
    border-color: #EE5F98
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px
    }

    .notfound .notfound-404 h1 {
        font-size: 122px
    }
}