

.ServerDescription__content {
    display: flex;
    align-items: center;
}

.ServerDescription__about {
    margin-left: 12px;
}

.ServerDescription:not(:first-child) {
    margin-top: 12px;
}

.ServerDescription__about p:first-child {
    color: var(--textColor)
}
 
.ServerDescription__about p:not(:first-child) {
    margin-top: 6px;
    color: var(--anotherTextColor);
    line-height: 1.4;
}

.ServerCommands p {
    color: var(--textColor);
    margin-bottom: 12px;
}

.ServerPersonnel {
    background-color: #1E1E1E;
    width: 586px;
    height: 84px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.ServerPersonnel img {
    width: 60px;
    height: 60px;
    margin: 0 !important;
}

.ServerPersonnel__about {
    margin-left: 8px;
}

.ServerPersonnel p {
    color: var(--textColor);
}

.ServerPersonnel p:not(:first-child) {
    font-size: 10px;
    margin-top: 4px;
}

.ServerRules h1 {
    font-size: var(--subtitleSize);
    color: var(--textColor)
}

.ServerRules__container_p {
    margin-top: 16px;
}

.ServerRules__container_p p {
    color: var(--textColor);
    line-height: 1.3;
}