.Cabinet__container {
    background-color: var(--backgroundElementColor);
    padding: 32px;
    width: 1255px;
    border-radius: 8px;
    margin-top: 10px;
}

.Cabinet__container_items {
    display: flex;
    width: 100%;
}

.Cabinet__skin {
    padding: 10px;
    width: 405px;
    background-color: #1E1E1E;
    border-radius: 8px;
}

.skin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cabinet__skin_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

.Cabinet__skin_btn button {
    background-color: var(--backgroundButton);
    color: var(--textColor);
    font-size: var(--textSize);
    padding: 12px 14px;
    border-radius: 8px;
    transition: .5s background-color;
    border: 2px solid var(--backgroundButton);
    cursor: pointer;
}

.Cabinet__skin_btn button:hover {
    background-color: transparent;
}

.Cabinet__information_user {
    margin-left: 12px;
}

.user__information_block {
    background-color: #DC3636 !important;
}

.user__information {
    width: 523px;
    height: 48px;
    background-color: #1E1E1E;
    border-radius: 8px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 32px;
}

.user__information:first-child {
    margin-top: 0; 
}

.user__information p {
    color: var(--textColor);
    font-size: var(--textSize)
}

.Cabinet__balance {
    margin-left: 12px;
}

.Cabinet__balance_rub,
.Cabinet__balance_apex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 37px;
    background-color: #1E1E1E;
    border-radius: 8px;
    height: 138px;
}

.Cabinet__balance_apex {
    margin-top: 12px;
}

.Cabinet__balance_btn {
    margin-top: 12px;
}

.Cabinet__balance_btn button {
    width: 100%;
    height: 48px;
    background-color: var(--backgroundButton);
    border: 2px solid var(--backgroundButton);
    transition: .5s background-color;
    color: var(--textColor);
    padding: 14px 65px;
    border-radius: 8px;
    cursor: pointer;
}

.Cabinet__balance_btn button:hover {
    background-color: transparent;
}

.Cabinet__balance p {
    color: var(--textColor);
    font-size: var(--textSize)
}

.Cabinet__rub,
.Cabinet__apex {
    margin-left: 12px;
}

.apex,
.rub {
    margin-top: 6px;
}