.Server__container_header {
    margin-top: 32px;
    display: flex;
}

.Server__header_online {
    background-color: var(--backgroundElementColor);
    display: flex;
    border-radius: 8px;
    padding: 32px;
    align-items: center;
    width: 688px;
}

.Server__header_online img {
    margin: 0 !important;
}

.about__progress {
    margin-left: 32px;
}

.version,
.online {
    font-size: var(--textSize);
    color: var(--textColor)
}

.online {
    text-align: end;
}

.bar {
    margin: 6px 0 6px 0;
    width: 399px;
    height: 32px !important;
    border-radius: 8px;
}

.bar span {
    background-color: var(--backgroundButton);
}

.modeInformation {
    background-color: var(--backgroundElementColor);
    display: flex;
    border-radius: 8px;
    padding: 32px;
    flex-direction: column;
    margin-left: 20px;
    width: 547px;
}

.modeInformation {
    color: var(--textColor);
    font-size: var(--textSize);   
}

.modeInformation span {
    color: var(--backgroundButton)
}

.modeInformation__subtitle {
    margin-bottom: 4px;
}

.modeInformation__title {
    margin-top: 8px;
}

.PersonalCabinet__btn {
    overflow-x: auto;
    max-width: 90vw;
    scrollbar-width: none; /* Для Firefox */
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}

.PersonalCabinet__btn button {
    margin-top: 32px;
    background-color: transparent;
    color: var(--textColor);
    font-size: var(--textSize);
    cursor: pointer;
    transition: .5s color;
}

.PersonalCabinet__btn button:not(:first-child) {
    margin-left: 40px;
}

.PersonalCabinet__btn button:hover {
    color: var(--backgroundButton);
}

.active {
    color: var(--backgroundButton);
}

.server__content {
    margin-top: 12px;
    background-color: var(--backgroundElementColor);
    border-radius: 8px;
    padding: 32px;
}

.server__content_personnel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .Server__container_header {
        margin-top: 16px;
        flex-direction: column;
    }
    .Server__header_online {
        padding: 16px;
        margin: 0 16px;
        width: auto;
        border-radius: 8px 8px 0 0;
    }
    .online,
    .version {
        font-size: 12px;
    }
    .Server__header_online img {
        width: 60px;
        height: 60px;
    }
    .about__progress {
        margin-left: 8px;
    }
    .bar {
        width: 228px;
        height: 28px !important;
    }
    .modeInformation {
        padding: 16px;
        margin: 0 16px;
        border-radius: 0 0 8px 8px;
        width: auto;
    }
    .modeInformation p {
        font-size: 12px;
    }
    .PersonalCabinet__btn {
        display: flex;
        margin: 8px 16px;
        overflow-x: scroll;
    }
    .PersonalCabinet__btn button {
        margin-left: 10px !important; 
        margin-top: 8px;
    }
    .server__content {
        padding: 16px;
        margin: 16px 16px 0 16px;
    }
    .server__content img {
        width: 100px;
        height: 100px;
    }
}