.RegistrationModule {
    width: 405px;
    padding: 30px 20px;
    border-radius: 8px;
    background-color: var(--backgroundElementColor);
}

.Auth__container_form {
    margin-top: 32px;
}

.Auth__container_subtitle h1 {
    text-align: center;
    font-size: var(--subtitleSize);
    color: var(--textColor)
}

.Auth__container_form input {
    padding: 12px;
    height: 44px;
    background-color: #1E1E1E;
    border-radius: 8px;
    color: var(--textColor);
    width: 100%;
    margin: 4px 0;
}

.Auth__container_form input::placeholder {
    color: var(--anotherTextColor)
}

input:focus {
    background-color: white;
    color: #1E1E1E;
}


.Checkbox__input path {
    width: 24px;
    height: 24px;
    color: var(--backgroundButton);
    border-radius: 40px;
}

.Auth__btn {
    background-color: var(--backgroundButton) !important;
    cursor: pointer;
    margin-top: 12px;
    color: #fff;
    width: 365px;
    transition: .5s background-color;
    margin-top: 12px !important; 
}

.Auth__btn:hover {
    background-color: transparent !important;
    border: 2px solid var(--backgroundButton);
}

.checkbox__input input {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 500px) {
    .modal-body {
        min-width: 0;
        width: 100%;
        padding: 16px;
    }
    .modal-body label {
        font-size: 14px;
    }
    .modal-body h5 {
        font-size: 18px;
    }
    .modal-body input {
        width: 100% !important;
        min-width: 0;
    }
    .modalFooter button {
        width: auto;
        font-size: 12px;
        padding: 8px 10px;
    }
    .modal-content {
        width: 250px;
    }
}